:root{
    --black: #1b1b1b;
    --grey: #323232;
    --cream: #ffe7d0;
    --orange: #fc6e20;

    --bg-main: #ffe7d0;
    --text-main: #1b1b1b;
    --text-muted: #323323;
}
.navbar{
    background: var(--black);
    position: sticky;
    top: 0;
    z-index: 1000;
    padding-left: 20px;
    padding-right: 20px;
}
.nav-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}
.logo{
    color:#fff;
    font-weight: 700;
}
.nav-links a{
    color: #fff;
    text-decoration: none;
    margin-left: 29px;
}
.btn-primary{
    background: var(--orange);
    color: #fff;
    padding: 8px 14px;
    border-radius: 12px;
}